.logon-container {
  width: 100%; /*Sempre Ocupar a largura total*/
  max-width: 1120px; /*até no máximo 1120px*/
  height: 100vh; /*Ocupar a altura toda do corpo*/
  margin: 0 auto; /*Contéudo sempre fica centralizado na tela*/

  display: flex; /*aloca um item do lado do outro se não mudar a direção*/
  align-items: center; /*alinha os itens verticalmente no centro*/
  justify-content: space-between; /*coloca um espaço entre os elementos*/
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
